{% extends 'base.html.twig' %}

{% block title %}Profile Settings{% endblock %}

{% block bread %}
→ Profile Settings
{% endblock %}

{% block body %}
    {{ include('settings_profile/_settings_profile_tabs.html.twig') }}
    {{ form_start(form) }}
        {{ include ('settings_profile/_profile_form.html.twig') }}
        <div>
            <button type="submit" class="block w-full shadow-sm border-transparent bg-yellow-500 hover:bg-yellow-600 dark:bg-yellow-500 dark:hover:bg-yellow-600 text-black rounded-md border p-2 mt-4 mb-2">Save</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
