<!DOCTYPE html>
<html class="{% if app.request.cookies.get('theme') == 'dark' %}dark{% endif %}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}NextGame{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('build/tailwind.css') }}">
</head>
<body class="bg-gray-50 text-gray-800 dark:bg-gray-900 dark:text-white flex flex-col min-h-screen w-full">
    <div class="w-full flex-grow">
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="rounded-md p-2 mb-4 
                {% if type == 'success' %}
                    border-green-300 bg-green-50 dark:border-green-600 dark:bg-green-700 dark:text-white
                {% elseif type == 'danger' %}
                    border-red-400 bg-red-50 dark:border-red-600 dark:bg-red-700 dark:text-white
                {% endif %}"
            >
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    
    {% block body %}{% endblock %}
    </div>
</body>
</html>
