{% extends 'dashboardBase.html.twig' %}

{% block body %}
<div id="scoreboard-container">
  <div id="scoreboard-display">
    {% if display == 1 %}
      {{ include('scoreboard/_scoreboard_display_right.html.twig') }}
    {% endif %}
    {% if display == 0 %}
      {{ include('scoreboard/_scoreboard_display_left.html.twig') }}
    {% endif %}
  </div>
</div>

<script>
  const gameId = {{ id }};
  setInterval(() => {
    //fetch(`/app/public/index.php/scoreboard/${gameId}`, {
    fetch(`/scoreboard/${gameId}`, {
      headers: {
        'X-Requested-With': 'XMLHttpRequest'
      }
    })
    .then(response => {
      if (!response.ok) {
        throw new Error('Failed to fetch scoreboard');
      }
      return response.json();
    })
    .then(data => {
      if (data.status === 'Completed') {
        window.location.href = "{{ path('app_dashboard_games') }}";
        return;
      }
      const scoreboardDisplay = document.getElementById('scoreboard-display');
      if (data.display == 1 && !scoreboardDisplay.classList.contains('right-display')) {
        scoreboardDisplay.innerHTML = `{% include 'scoreboard/_scoreboard_display_right.html.twig' %}`;
        scoreboardDisplay.classList.add('right-display');
        scoreboardDisplay.classList.remove('left-display');
      } else if (data.display == 0 && !scoreboardDisplay.classList.contains('left-display')) {
        scoreboardDisplay.innerHTML = `{% include 'scoreboard/_scoreboard_display_left.html.twig' %}`;
        scoreboardDisplay.classList.add('left-display');
        scoreboardDisplay.classList.remove('right-display');
      }
      document.getElementById('setPlayerOne').textContent = data.setPlayerOne;
      document.getElementById('playerOne').textContent = data.playerOne;
      document.getElementById('setPlayerTwo').textContent = data.setPlayerTwo;
      document.getElementById('playerTwo').textContent = data.playerTwo;
    })
    .catch(error => {
      console.error('Error fetching scoreboard:', error);
    });
  }, 2000);
</script>
{% endblock %}
