<div class="{% if app.request.get('_route') == route %}text-yellow-500 dark:text-yellow-500 border-b-2 border-yellow-500 dark:border-yellow-500{% else %}text-gray-600 dark:text-gray-400{% endif %} pb-2 {% if classes is defined %}{{ classes }}{% endif %}">
  <a href="{% block path %}{% endblock %}">
    {% block content %}{% endblock %}
  </a>
</div>